.header-painting-area{
    padding: 100px 20px 0px 20px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgba(118, 121, 114, 0.575);
    h1{
        font-size: 40px;
        font-family:  'OdibeeSans-Regular';
        font-weight: 400;
        letter-spacing: 1px;
        margin: 10px;
    }
}