.password-entry{
    margin-top: 10px;
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 10px;
    h4{
        color: white;
        font-size: 30px;
        font-family:  'OdibeeSans-Regular';
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    input{
        font-size: 30px;
        font-family:  'OdibeeSans-Regular';
        font-weight: 400;
        padding: 10px;
        display: block;
        margin-bottom: 10px;
    }

    .one-card__footer__custom-button {
        position: relative;
        z-index: 1;
        margin-top: 5px;
        background: none;
        border: 3px solid rgb(255, 255, 255);
        padding: 10px 20px;
        font-size: 20px;
        color: #ffffff;
        min-width: 100px;
        font-weight: 400;
        cursor: pointer;
        transition: color 0.4s linear;

        &:hover {
            z-index: 1;
            color: #000000;
            font-weight: 500;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 101%;
            height: 100%;
            background: rgb(255, 255, 255);
            z-index: -1;
            transition: transform 0.8s;
            transform-origin: 0 0;
            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            transform: scaleX(0);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
    .one-offer__custom-button-disabled{
        margin-top: 5px;
        background: none;
        border: 3px solid #adadad85;
        padding: 10px 20px;
        font-size: 20px;
        color: #a0a0a086;
        min-width: 100px;
        font-weight: 400;
        cursor: pointer;
    }
    .password-entry__error{
        height: 40px;
        color: red;
        padding: 10px;
    }
}